.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbarContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em;
    position: fixed;
z-index: 99;
}